<% content_for :title, "About" %>
<div style="width: 50%; padding: 30px;">
    <p>
        The name JStore originated as a joke, a riff on popular academic journal archive JStor: "What do you call an online geniza? JStore."
        The name also pokes fun at the desperate-seeming attempts of Jewish organizations and companies to appear hip and youthful,
        by adopting cutesy names like JSwipe and JDate.
    </p>


    <p> 
        A geniza is a temporary storage place for holy documents and texts, items that contain Hashem's name
        before they are given a proper burial. Because they contain the name of Hashem, these items cannot be
        disposed of like other, regular items. They must be treated with respect and buried when they are no
        longer of use.
    </p>


    <p>
        The concept for an online geniza came from conversations with online communities of Jews following
        the Jewish tradition of asking religious questions based on the changing world around us.
        While our texts may remain static, our lives don't. For many of us, most of our documents, even including
        books, are hosted online... But even though our texts have become digitized, we should still be able
        to dispose of them in a halakhically permissable way. Because of the nature of data - that it can only be copied, not truly transferred, 
        creating a "proper" geniza for digital documents is problematic. Even if one were to upload their documents
        into an online archive like JStore, they will still need to delete the original copy. It is my intention with this project
        to offer an alternative, however problematic, to traditions that may no longer suit our needs, and hopefully inspire others
        to do the same.
    </p>

</div>